<%
  require 'uv'
  def code_for(file, executable=false)
    @stripper ||= /(\A\(function\(\)\{\n|\}\)\(\);\Z|^  )/
    return '' unless File.exists?("documentation/js/#{file}.js")
    cs = File.read("documentation/coffee/#{file}.coffee")
    js = File.read("documentation/js/#{file}.js").gsub(@stripper, '')
    cshtml = Uv.parse(cs, 'xhtml', 'coffeescript', false, 'idle', false)
    jshtml = Uv.parse(js, 'xhtml', 'javascript', false, 'idle', false)
    append = executable == true ? '' : "alert(#{executable});"
    run    = executable == true ? 'run' : "run: #{executable}"
    button = executable ? "<button onclick='javascript: #{js};#{append}'>#{run}</button>" : ''
    "<div class='code'>#{cshtml}#{jshtml}#{button}<br class='clear' /></div>"
  end
%>


<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>CoffeeScript</title>
  <link rel="stylesheet" type="text/css" href="documentation/css/docs.css" />
  <link rel="stylesheet" type="text/css" href="documentation/css/idle.css" />
</head>
<body>

  <div class="container">

    <h1><sub style="font-size: 100px;">&#9749;</sub> CoffeeScript</h1>

    <p>
      CoffeeScript is a little language that compiles into JavaScript. Think
      of it as JavaScript's less ostentatious kid brother &mdash; the same genes,
      roughly the same height, but a different sense of style. Apart from a handful of
      bonus goodies, statements in CoffeeScript correspond one-to-one with their
      equivalent in JavaScript, it's just another way of saying it.
    </p>

    <p>
      <b>Disclaimer:</b>
      CoffeeScript is just for fun and seriously alpha. I'm sure that there are still
      plenty of holes in the lexer and leaks in the syntax. <i>There is no guarantee,
      explicit or implied, of its suitability for any purpose.</i> That said,
      it compiles into clean JavaScript (the good parts) that can use existing
      JavaScript libraries seamlessly, and passes through
      <a href="http://www.jslint.com/">JSLint</a> without warnings. The compiled
      output is quite readable &mdash; pretty-printed, with comments
      preserved intact.
    </p>

    <h2>Table of Contents</h2>

    <p>
      <a href="#overview">Mini Overview</a><br />
      <a href="#installation">Installation and Usage</a><br />
      <a href="#punctuation">Punctuation Primer</a><br />
      <a href="#functions">Functions and Invocation</a><br />
      <a href="#assignment">Assignment</a><br />
      <a href="#objects_and_arrays">Objects and Arrays</a><br />
      <a href="#lexical_scope">Lexical Scoping and Variable Safety</a><br />
      <a href="#conditionals">Conditionals, Ternaries, and Conditional Assignment</a><br />
      <a href="#expressions">Everything is an Expression</a><br />
      <a href="#aliases">Aliases</a><br />
      <a href="#while">While Loops</a><br />
      <a href="#array_comprehensions">Array Comprehensions</a><br />
      <a href="#slice">Slicing Arrays with Ranges</a><br />
      <a href="#inheritance">Inheritance, and Calling Super from a Subclass</a><br />
      <a href="#embedded">Embedded JavaScript</a><br />
      <a href="#switch">Switch/When/Else</a><br />
      <a href="#try">Try/Catch/Finally</a><br />
      <a href="#strings">Multiline Strings</a><br />
      <a href="#resources">Resources</a><br />
      <a href="#contributing">Contributing</a><br />
      <a href="#change_log">Change Log</a><br />
    </p>

    <h2 id="overview">Mini Overview</h2>

    <p><i>CoffeeScript on the left, compiled JavaScript output on the right.</i></p>

    <%= code_for('overview', 'cubed_list') %>

    <h2 id="installation">Installation and Usage</h2>

    <p>
      The CoffeeScript compiler is written in pure Ruby, and is available
      as a Ruby Gem.
    </p>

    <pre>
gem install coffee-script</pre>

    <p>
      Installing the gem provides the <tt>coffee</tt> command, which can
      be used to compile CoffeeScript <tt>.coffee</tt> files into JavaScript, as
      well as debug them. In conjunction with
      <a href="http://narwhaljs.org/">Narwhal</a>, the <tt>coffee</tt>
      command also provides direct evaluation and an interactive REPL.
      When compiling to JavaScript, <tt>coffee</tt> writes the output
      as <tt>.js</tt> files in the same directory by default, but output
      can be customized with the following options:
    </p>

    <table>
      <tr>
        <td width="25%"><code>-i, --interactive</code></td>
        <td>
          Launch an interactive CoffeeScript session.
          Requires <a href="http://narwhaljs.org/">Narwhal</a>.
        </td>
      </tr>
      <tr>
        <td><code>-r, --run</code></td>
        <td>
          Compile and execute the CoffeeScripts without saving the intermediate
          JavaScript. Requires <a href="http://narwhaljs.org/">Narwhal</a>.
        </td>
      </tr>
      <tr>
        <td><code>-o, --output [DIR]</code></td>
        <td>
          Write out all compiled JavaScript files into the specified directory.
        </td>
      </tr>
      <tr>
        <td><code>-w, --watch</code></td>
        <td>
          Watch the modification times of the coffee-scripts, recompiling as
          soon as a change occurs.
        </td>
      </tr>
      <tr>
        <td><code>-p, --print</code></td>
        <td>
          Instead of writing out the JavaScript as a file, print it
          directly to <b>stdout</b>.
        </td>
      </tr>
      <tr>
        <td><code>-l, --lint</code></td>
        <td>
          If the <tt>jsl</tt> (JavaScript Lint) command is installed, use it
          to check the compilation of a CoffeeScript file. (Handy in
          conjunction with <tt>--watch</tt>)
        </td>
      </tr>
      <tr>
        <td><code>-e, --eval</code></td>
        <td>
          Compile and print a little snippet of CoffeeScript directly from the
          command line (or from <b>stdin</b>). For example:<br /><tt>coffee -e "square: x => x * x."</tt>
        </td>
      </tr>
      <tr>
        <td><code>-t, --tokens</code></td>
        <td>
          Instead of parsing the CoffeeScript, just lex it, and print out the
          token stream: <tt>[:IDENTIFIER, "square"], [":", ":"], [:PARAM, "x"]</tt> ...
        </td>
      </tr>
      <tr>
        <td><code>-v, --verbose</code></td>
        <td>
          As the JavaScript is being generated, print out every step of code
          generation, including lexical scope and the node in the
          AST.
        </td>
      </tr>
      <tr>
        <td><code>-n, --no-wrap</code></td>
        <td>
          Compile the JavaScript without the top-level function safety wrapper
          or var declarations, for situations where you want to add every
          variable to global scope.
        </td>
      </tr>
      <tr>
        <td><code>--install-bundle</code></td>
        <td>
          Install the TextMate bundle for CoffeeScript syntax highlighting.
        </td>
      </tr>
    </table>

    <p>
      <b>Examples:</b>
    </p>

    <pre>
coffee path/to/script.coffee
coffee --interactive
coffee --watch --lint experimental.coffee
coffee --print app/scripts/*.coffee > concatenation.js</pre>

    <h2>Language Reference</h2>

    <p>
      <i>
        This reference is structured so that it can be read from top to bottom,
        if you like. Later sections use ideas and syntax previously introduced.
        Familiarity with JavaScript is assumed.
        In all of the following examples, the source CoffeeScript is provided on
        the left, and the direct compilation into JavaScript is on the right.
      </i>
    </p>

    <p id="punctuation">
      <b class="header">Punctuation Primer</b>
      You don't need to use semicolons <tt>;</tt> to terminate expressions, ending
      the line will do just as well. All other whitespace is
      not significant. Instead of using curly braces <tt>{ }</tt>
      to delimit a block of code, use a period <tt>.</tt> to mark the end of a
      block, for
      <a href="#functions">functions</a>,
      <a href="#conditionals">if-statements</a>,
      <a href="#switch">switch</a>, and <a href="#try">try/catch</a>.
    </p>

    <p id="functions">
      <b class="header">Functions and Invocation</b>
      Functions are defined by a list of parameters, an arrow, and the
      function body. The empty function looks like this: <tt>=>.</tt>
    </p>
    <%= code_for('functions', 'cube(5)') %>

    <p id="assignment">
      <b class="header">Assignment</b>
      Use a colon <tt>:</tt> to assign, as in
      <a href="http://json.org">JSON</a>. Equal signs are only needed for
      mathy things.
    </p>
    <%= code_for('assignment', 'greeting') %>
    <p>
      Declarations of new variables are pushed up to the top of the current scope,
      so that assignments may always be used within expressions.
    </p>

    <p id="objects_and_arrays">
      <b class="header">Objects and Arrays</b>
      Object and Array literals look very similar to their JavaScript cousins.
      When you spread out each assignment on a separate line, the commas are
      optional. In this way, assigning object properties looks the same as
      assigning local variables.
    </p>
    <%= code_for('objects_and_arrays', 'song.join(",")') %>

    <p id="lexical_scope">
      <b class="header">Lexical Scoping and Variable Safety</b>
      The CoffeeScript compiler takes care to make sure that all of your variables
      are properly declared within lexical scope &mdash; you never need to write
      <tt>var</tt> yourself.
    </p>
    <%= code_for('scope', 'new_num') %>
    <p>
      Notice how the variables are declared with <tt>var</tt> the first time
      they appear. The second reference of <b>num</b>, within the function,
      is not redeclared because <b>num</b> is still in scope. As opposed
      to the second occurrence of <b>new_num</b>, in the last line.
    </p>
    <p>
      Although suppressed within this documentation for clarity, all
      CoffeeScript output is wrapped in an anonymous function:
      <tt>(function(){ ... })();</tt> This safety wrapper, combined with the
      automatic generation of the <tt>var</tt> keyword, make it exceedingly difficult
      to pollute the global namespace by accident.
    </p>

    <p id="conditionals">
      <b class="header">Conditionals, Ternaries, and Conditional Assignment</b>
      <b>If/else</b> statements can be written without the use of parentheses and
      curly brackets. As with functions and other block expressions, conditionals
      are closed with periods. No period is necessary when using the single-line
      postfix form, with the <tt>if</tt> at the end.
    </p>
    <p>
      CoffeeScript will compile <b>if</b> statements using the ternary operator
      when possible, to make it easier to use the result as an expression.
    </p>
    <%= code_for('conditionals') %>
    <p>
      The conditional assignment operators are available: <tt>||=</tt>,
      which only assigns a value to a variable if the variable's current value
      is falsy, and <tt>&amp;&amp;=</tt>, which only replaces the value of
      truthy variables.
    </p>

    <p id="expressions">
      <b class="header">Everything is an Expression (at least, as much as possible)</b>
      You might have noticed how even though we don't add return statements
      to CoffeeScript functions, they nonetheless return their final value.
      The CoffeeScript compiler tries to make sure that all statements in the
      language can be used as expressions. Watch how the <tt>return</tt> gets
      pushed down into each possible branch of execution, in the function
      below.
    </p>
    <%= code_for('expressions', 'eldest') %>
    <p>
      The same mechanism is used to push down assignment through <b>switch</b>
      statements, and <b>if-elses</b> (although the ternary operator is preferred).
      Another part of manipulating assignment statements is
      CoffeeScript's declaration of new variables at the top of the
      current scope. This allows assignment to be used as a piece of an
      expression.
    </p>
    <%= code_for('expressions_assignment', 'six') %>

    <p id="aliases">
      <b class="header">Aliases</b>
      Because the <tt>==</tt> operator frequently causes undesirable coercion,
      is intransitive, and has a different meaning than in other languages,
      CoffeeScript compiles <tt>==</tt> into <tt>===</tt>, and <tt>!=</tt> into
      <tt>!==</tt>.
      In addition, <tt>is</tt> compiles into <tt>===</tt>,
      and <tt>isnt</tt> into <tt>!==</tt>.
    </p>
    <p>
      You can use <tt>not</tt> as an alias for <tt>!</tt>.
    </p>
    <p>
      For logic, <tt>and</tt> compiles to <tt>&amp;&amp;</tt>, and <tt>or</tt>
      into <tt>||</tt>.
    </p>
    <p>
      Instead of a newline or semicolon, <tt>then</tt> can be used to separate
      conditions from expressions, in <b>while</b>,
      <b>if</b>/<b>else</b>, and <b>switch</b>/<b>when</b> statements.
    </p>
    <p>
      As in <a href="http://yaml.org/">YAML</a>, <tt>on</tt> and <tt>yes</tt>
      are the same as boolean <tt>true</tt>, while <tt>off</tt> and <tt>no</tt> are boolean <tt>false</tt>.
    </p>
    <p>
      For single-line statements, <tt>unless</tt> can be used as the inverse of <tt>if</tt>.
    </p>
    <%= code_for('aliases') %>

    <p id="while">
      <b class="header">While Loops</b>
      The only low-level loop that CoffeeScript provides is the while loop.
    </p>
    <%= code_for('while') %>
    <p>
      Other JavaScript loops, such as <b>for</b> loops and <b>do-while</b> loops
      can be mimicked by variations on <b>while</b>, but the hope is that you
      won't need to do that with CoffeeScript, either because you're using
      <b>each</b> (<b>forEach</b>) style iterators, or...
    </p>

    <p id="array_comprehensions">
      <b class="header">Array Comprehensions</b>
      For your looping needs, CoffeeScript provides array comprehensions
      similar to Python's. They replace (and compile into) <b>for</b> loops, with
      optional guard clauses and the value of the current array index.
      Unlike for loops, array comprehensions are expressions, and can be returned
      and assigned. They should be able to handle most places where you otherwise
      would use a loop, <b>each</b>/<b>forEach</b>, <b>map</b>, or <b>select</b>/<b>filter</b>.
    </p>
    <%= code_for('array_comprehensions') %>
    <p>
      If you're not iterating over an actual array, you can use a range to
      specify the start and end of an array comprehension:
      <tt>coundown(i) for i in [10..1].</tt>
    </p>

    <p id="slice">
      <b class="header">Slicing Arrays with Ranges</b>
      CoffeeScript borrows Ruby's
      <a href="http://ruby-doc.org/core/classes/Range.html">range syntax</a>
      for extracting slices of arrays. With two dots (<tt>3..5</tt>), the range
      is inclusive: the first argument is the index of the first element in
      the slice, and the second is the index of the last one. Three dots signify
      a range that excludes the end.
    </p>
    <%= code_for('slices', 'numbers_copy') %>

    <p id="inheritance">
      <b class="header">Inheritance, and Calling Super from a Subclass</b>
      JavaScript's prototypal inheritance has always been a bit of a
      brain-bender, with a whole family tree of libraries that provide a cleaner
      syntax for classical inheritance on top of JavaScript's prototypes:
      <a href="http://code.google.com/p/base2/">Base2</a>,
      <a href="http://prototypejs.org/">Prototype.js</a>,
      <a href="http://jsclass.jcoglan.com/">JS.Class</a>, etc.
      The libraries provide syntactic sugar, but the built-in inheritance would
      be completely usable if it weren't for a couple of small exceptions:
      it's awkward to call <b>super</b> (the prototype object's
      implementation of the current function), and it's awkward to correctly
      set the prototype chain. CoffeeScript provides <tt>extends</tt>
      to help with prototype setup, and converts
      <tt>super()</tt> calls into calls against the immediate ancestor's
      method of the same name.
    </p>
    <%= code_for('super', true) %>

    <p id="embedded">
      <b class="header">Embedded JavaScript</b>
      If you ever need to interpolate literal JavaScript snippets, you can
      use backticks to pass JavaScript straight through.
    </p>
    <%= code_for('embedded', 'hi()') %>

    <p id="switch">
      <b class="header">Switch/When/Else</b>
      <b>Switch</b> statements in JavaScript are rather broken. You can only
      do comparisons based on string equality, and need to remember to <b>break</b> at the end of
      every <b>case</b> statement to avoid accidentally falling through to
      the default case. CoffeeScript compiles <b>switch</b> statements into JavaScript if-else chains, allowing you to
      compare any object (via <b>===</b>), preventing fall-through, and resulting
      in a returnable, assignable expression. The format is: <tt>switch</tt> condition,
      <tt>when</tt> clauses, <tt>else</tt> the default case.
    </p>
    <%= code_for('switch') %>

    <p id="try">
      <b class="header">Try/Catch/Finally</b>
      Try/catch statements are just about the same as JavaScript (although
      they work as expressions).
    </p>
    <%= code_for('try') %>

    <p id="try">
      <b class="header">Multiline Strings</b>
      Multiline strings are allowed in CoffeeScript.
    </p>
    <%= code_for('strings', 'moby_dick') %>

    <h2 id="resources">Resources</h2>

    <ul>
      <li>
        <a href="http://github.com/jashkenas/coffee-script/">Source Code</a><br />
        Use <tt>bin/coffee</tt> to test your changes, or <tt>rake gem:install</tt> to
        create and install a custom version of the gem. If you're hacking on the
        parser, use <tt>rake build:parser</tt> to rebuild it.
      </li>
      <li>
        <a href="http://github.com/jashkenas/coffee-script/issues">Bugs and Feature Requests</a>
      </li>
    </ul>

    <h2 id="contributing">Contributing</h2>

    <p>
      Here's a wish list of things that would be wonderful to have in
      CoffeeScript:
    </p>

    <ul>
      <li>
        A CoffeeScript version of the compiler, perhaps using Alessandro Warth's
        <a href="http://tinlizzie.org/ometa/">OMeta</a>.
      </li>
      <li>
        Test cases for any syntax errors you encounter that you think CoffeeScript
        should be able to compile properly.
      </li>
      <li>
        A tutorial that introduces CoffeeScript from the ground up for folks
        without knowledge of JavaScript.
      </li>
      <li>
        Integration with Processing.js's JavaScript API (this would depend on
        having a JavaScript version of the compiler).
      </li>
      <li>
        A lot of the code generation in <tt>nodes.rb</tt> gets into messy
        string manipulation. Techniques for cleaning this up across the board
        would be appreciated.
      </li>
    </ul>

    <h2 id="change_log">Change Log</h2>

    <p>
      <b class="header" style="margin-top: 20px;">0.1.6</b>
      Bugfix for running <tt>coffee --interactive</tt> and <tt>--run</tt>
      from outside of the CoffeeScript directory. Bugfix for nested
      function/if-statements.
    </p>

    <p>
      <b class="header" style="margin-top: 20px;">0.1.5</b>
      Array slice literals and array comprehensions can now both take Ruby-style
      ranges to specify the start and end. JavaScript variable declaration is
      now pushed up to the top of the scope, making all assignment statements into
      expressions. You can use <tt>\</tt> to escape newlines.
      The <tt>coffee-script</tt> command is now called <tt>coffee</tt>.
    </p>

    <p>
      <b class="header" style="margin-top: 20px;">0.1.4</b>
      The official CoffeeScript extension is now <tt>.coffee</tt> instead of
      <tt>.cs</tt>, which properly belongs to
      <a href="http://en.wikipedia.org/wiki/C_Sharp_(programming_language)">C#</a>.
      Due to popular demand, you can now also use <tt>=</tt> to assign. Unlike
      JavaScript, <tt>=</tt> can also be used within object literals, interchangeably
      with <tt>:</tt>. Made a grammatical fix for chained function calls
      like <tt>func(1)(2)(3)(4)</tt>. Inheritance and super no longer use
      <tt>__proto__</tt>, so they should be IE-compatible now.
    </p>

    <p>
      <b class="header" style="margin-top: 20px;">0.1.3</b>
      The <tt>coffee</tt> command now includes <tt>--interactive</tt>,
      which launches an interactive CoffeeScript session, and <tt>--run</tt>,
      which directly compiles and executes a script. Both options depend on a
      working installation of Narwhal.
      The <tt>aint</tt> keyword has been replaced by <tt>isnt</tt>, which goes
      together a little smoother with <tt>is</tt>.
      Quoted strings are now allowed as identifiers within object literals: eg.
      <tt>{"5+5": 10}</tt>.
      All assignment operators now use a colon: <tt>+:</tt>, <tt>-:</tt>,
      <tt>*:</tt>, etc.
    </p>

    <p>
      <b class="header" style="margin-top: 20px;">0.1.2</b>
      Fixed a bug with calling <tt>super()</tt> through more than one level of
      inheritance, with the re-addition of the <tt>extends</tt> keyword.
      Added experimental <a href="http://narwhaljs.org/">Narwhal</a>
      support (as a Tusk package), contributed by
      <a href="http://tlrobinson.net/">Tom Robinson</a>, including
      <b>bin/cs</b> as a CoffeeScript REPL and interpreter.
      New <tt>--no-wrap</tt> option to suppress the safety function
      wrapper.
    </p>

    <p>
      <b class="header" style="margin-top: 20px;">0.1.1</b>
      Added <tt>instanceof</tt> and <tt>typeof</tt> as operators.
    </p>

    <p>
      <b class="header" style="margin-top: 20px;">0.1.0</b>
      Initial CoffeeScript release.
    </p>

  </div>

</body>
</html>
